.services-section-wrapper{ 
    /* background: var(--dark-blue); */
    padding: 1rem 3rem;
}
.services-section-container-1{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.services-section-text-info{ 
    width: 70%;
}
.services-section-text-info h1{ 
    font-size: 50px;
}
.services-section-text-info span{ 
    font-size: 25px;
}
.left-right-carousil-button{ 
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.left-right-carousil-button button{ 
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid var(--green);
    background-color: transparent;
    color: var(--green);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}
.left-right-carousil-button button:hover{ 
    color: var(--dark-blue);
    background-color: var(--green);
}

.services-section-carousil-container-2{ 
    display: flex;
    justify-content: center;
    align-items: center;
}




/* media query */
@media screen and (orientation: portrait){ 
    .services-section-wrapper{ 
        padding: 1rem 0rem;
    }
    .services-section-text-info{ 
        width: 100%;
    }
    .services-section-text-info h1{ 
        font-size: 30px;
    }
    .services-section-text-info span{ 
        font-size: 15px;

    }
    .services-section-container-1{ 
        /* width: 100%; */
        padding: 0rem 1rem;
            
    }
}