.footer-section-wrapper{ 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.footer-section{ 
    margin-top: 5rem;
    width: 80%;
    min-height: 600px;
    background-color: var(--black);
    border-radius: 20px;
    padding: 1rem 2rem;
}
/* footer header */
.footer-header{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.contact-number{ 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.contact-number-number{ 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.contact-number-number{ 
    font-size: 10px;
}
.ph-logo{ 
    color: var(--green);
}
.contact-number-number a{ 
    color: var(--whiteish);
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 18px;
}

.contact-number-number a:hover{ 
    color: var(--green);
}




/* footer body */
.footer-body-wrapper{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-body{ 
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* padding: 3rem 0rem; */
    margin-left: 2rem;
}
.footer-body-items{ 
    width: calc(100%/5);
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
}

.footer-body-items h2{ 
    margin: 0;
    padding: 0;
}
.footer-body-items a{ 
    color: var(--whiteish);
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 18px;
    padding: 0.5rem 0rem;
}
.footer-body-items a:hover{ 
    color: var(--green);
}
.footer-body-items-1 { 
    margin-bottom: 3rem;
}
.footer-body-items-1 a{ 
    color: var(--whiteish);
    transition: all 0.3s ease;
    text-decoration: none;
    font-size: 18px;
}

.footer-body-items-1-logo{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}
.footer-body-items-1 a:hover{ 
    color: var(--green);
}
.footer-body-items-1-logo h2{ 
    margin: 0;
    padding: 0;
}
.new-updates{ 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.new-updates input{ 
    height: 40px;
    width: 75%; 
    padding: 0rem 1rem;
    border: none;
}
.new-updates input:focus{
    outline: none;
}
.new-updates button{ 
    width: 20%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: var(--green);
    transition: all 0.3s ease;
}

.new-updates button:hover{ 
  color: var(--whiteish);
  background-color: var(--lightgrey);
}
.footer-footer{ 

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-social-media-icons{ 
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.copyright a{ 
    font-weight: 600;
}
.footer-social-media-links-item a, .copyright a{ 
    text-decoration: none;
    color: var(--whiteish);
    transition: all 0.3s ease;
}
.footer-social-media-links-item a:hover, .copyright a:hover{ 
    color: var(--green);
}


/* Media queries */
@media screen and (orientation: portrait){ 

    .footer-section{ 
        width: 100%;
        margin-bottom: 100px;
    }

    /* body */
    .footer-body{ 
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }
    .footer-body-items  { 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .footer-body-items-1{ 
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .footer-body-items-1-logo{ 
        margin-right: 2rem;
    }
    .footer-body-items-1-logo h2{ 
        font-size: 20px;
    }
    .footer-body-items-1 a{ 
        font-size: 14px;
    }




    /* Header */
    .footer-header img{ 
        width: 100px;
        height:100px;
    }
    .contact-number-number a{ 
        font-size: 14px;
    }


    /* footer footer */
    .footer-footer{ 
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
    .footer-social-media-icons{ 
        width: 50%;
    }
    
}