.texts-right-left{ 
    overflow: hidden;
    white-space: nowrap;
    
}
.texts-right-left:hover .texts-slide-right-left { 
    animation-play-state: paused;
}
.texts-slide-right-left{ 
    display: inline-block;   
    animation: 50s slide-right-left infinite linear; 
}
.texts-slide-items-right-left{ 
    margin: 1rem 2rem; 
    font-size: 40px;
    font-weight: 700;
   color: var(--green);
}

@keyframes slide-right-left {
    from{ 
        transform: translateX(0);
    }
    to{ 
        transform: translateX(-100%);
    }
}














/* Left to right */

.texts-left-right{ 
    overflow: hidden;
    white-space: nowrap; 
}
.texts-left-right:hover .texts-slide-left-right{ 
    animation-play-state: paused;
}
.texts-slide-left-right{ 
    display: inline-block;   
    animation: 50s slide-left-right infinite linear; 
}
.texts-slide-items-left-right{ 
    margin: 1rem 2rem; 
    font-size: 40px;
    font-weight: 700;
   color: var(--green);
}

@keyframes slide-left-right {
    from{ 
        transform: translateX(-100%);
    }
    to{ 
        transform: translateX(0);
    }
}











/* Image Marqueee */
.marquee-images-wrapper{ 
    width: 100%;
    height: 200px; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin: 2rem 0rem;
    z-index: 1;
    
}

.marquee-images-header{ 
    width: 25%;
    height: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    /* transform: translate(); */
    z-index: 2;
    padding: 1rem;
}

.marquee-images-header h1{ 
    font-size: 40px;
}
.marquee-images-header .ver-line{ 
    width: 20px ;
    height: 100%;
    border: 2px solid transparent;
    background:var(--green);
    /* backdrop-filter: blur(5px); */
    border-right-color: var(--whiteish);
    transform: rotate(30deg) scale(1.5) translate(50%);
    z-index: 1;
    /* display: none; */

}
.marquee-images-body{ 
    width: 62%;
    height: 100%;

}


.marquee-images-body{ 
    overflow: hidden;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
}
.marquee-images-body-slide{ 
    display: inline-block;   
    animation: 20s slide-right-left infinite linear; 
    z-index: 0;
}

.mrqee-images-body-items{ 
    margin: 1rem 2rem; 
    font-size: 40px;
    font-weight: 700;
   color: var(--green);
   z-index: -1;
}

