.about-us-section-wrapper {
    background-color: var(--dark-blue);
    padding: 3rem 3rem;
    position: relative;
    z-index: -1;
    overflow: hidden;
}
.about-us-section-container{ 
    width: 100%;
    
}
.about-us-section-container span{ 
    font-size: 18px;
    color: var(--whiteish);
}
.about-us-section-container-topics{ 
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    pointer-events: none;
}



.about-us-section-container-topics-items{ 
    width: calc(100% / 3);
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

.about-us-section-container-topics-items h1{ 
    font-size: 70px !important;
    margin: 0;
    padding: 0;
    -webkit-text-stroke: 2px var(--whiteish) ;
    color: transparent !important;
}
.about-us-section-container-topics-items h2{ 
    font-size: 40px !important;
    margin: 0;
    padding: 0;
}
.about-us-section-container-topics-items span{ 
    font-size: 20px;
}
.about-us-information{ 
    width: fit-content;
    z-index: 1;
}
.about-us-information h1{ 
    font-size: 100px;
    color: var(--whiteish);
    /* text-shadow:  0 0 19px var(--green); */
}
.about-us-information-text{ 
    font-size: 25px;
    color: var(--lightgrey);
}

.about-us-information h2{ 
    font-size: 50px;
    color: var(--darkgrey);
}





.four-pillars{ 
    width: 60%;
    /* border: 1px solid green; */
    
}
.pillers{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.piller{ 
    /* padding: 1rem; */

    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* border: 1px solid red; */
    margin: 1rem 0rem;
    color: var(--whiteish);
    font-size: 25px;
}

.green-dot-piller{ 
    background: var(--green);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin: 1rem;

}


.about-us-bg-1{ 
    background-color: var(--green); 
    width: 400px;
    height: 400px;
    border-radius: 50%;
    z-index: -11;
    position: absolute;
    top: 20%;
    animation: animate-bg-1 20s infinite linear;
    filter: blur(150px); 
    opacity: 0.3;
}
.about-us-bg-2{ 
    background-color: var(--green); 
    width: 300px;
    height: 300px; 
    border-radius: 50%;
    z-index: -11;
    position: absolute;
    top: 20%;
    right: 0;
    animation: animate-bg-2 20s infinite linear;
    filter: blur(100px); 
    opacity: 0.2;
}

@keyframes animate-bg-1 {
    0%, 100%{ 
      transform: translate(0, 0) scale(1);
        
    }
    50%{ 
       transform: translate(0%, 80%)  scale(1.1);
    }
    70%{ 
        transform: translate(50%, -100%) scale(1);
    }
    75%{ 
        transform: translate(80%, 0) scale(0.8);
    }
}


@keyframes animate-bg-2 {
    0%, 100%{ 
      transform: translate(0, 0) scale(1);
        
    }
    50%{ 
        transform: translate(0, -100%);
    }
    75%{ 
        transform: translate(-50%, -10%);
    }
}








/* media queries */

@media screen and (orientation: portrait){ 
    .four-pillars{ 
        width: 100%;
    }


    .about-us-information h2{ 
        font-size: 25px ;
    }
    .about-us-information h1{ 
        font-size: 50px ;
    }
    .about-us-section-wrapper{ 
        padding: 1rem 0.5rem;
    }
    .about-us-information{ 
        width: 100%;

    }
    .about-us-section-container-topics{ 
        gap: 1rem;
    }
    .about-us-section-container-topics-items{ 
        align-items: center;
    }
    .about-us-section-container h1{
        font-size: 50px;
     }
    .about-us-section-container-topics-items h1{ 
        font-size: 30px !important;
        -webkit-text-stroke-width: 1px; 
    }
    .about-us-information-text{ 
        font-size: 18px; 
    }

  
    .about-us-section-container-topics-items h2{ 
        font-size: 20px !important;
        text-align: center;
       
    }
    .about-us-section-container-topics-items span{ 
        font-size: 13px;
        /* text-align: justify; */
    }
    .special-span{ 
        font-size: 20px !important; 
    }


    .piller{ 
        font-size: 15px;
    }
    .green-dot-piller{ 
        width: 10px;
        height: 10px;
    }
}
