
.contact-section-wrapper{ 
    min-height: 100vh;
    padding: 1rem 3rem;
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.conatac-section-address{ 
    width: 45%;
    /* border: 1px solid red; */


}
.contact-section-texts-titles{ 
    margin-bottom: 2rem;
}
.contact-section-texts-titles span{ 
    font-size: 25px;
}
.contact-section-texts-titles h3{ 
    color: var(--green);
}
.contact-section-texts-titles h1{ 
    font-size: 50px;
}
.contact-section-address-items{ 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 40px; */
    margin: 3rem 0rem;

}
.address-text{ 
    font-size: 18px;
}
.address-text a{ 
    text-decoration: none;
    color: var(--whiteish);
    transition: all 0.3s ease-in-out;
}
.logo-icn{ 
    width: 40px;
    height: 40px;
    border-radius: 50%; 
    border: 1px solid var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    margin: 0rem 1rem;
}

.address-text a:hover{ 
    color: var(--green);
}

.address-text a:hover .logo-icn{ 
    color: var(--dark-blue);
    background-color: var(--green);
}
.contact-section-social-links h3{ 
    font-size: 25px;
    margin: 0;
}
.contact-section-social-links span{ 
    font-size: 18px;
}
.social-media-liks{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 30%;
    margin-top: 2rem;
}
.social-media-links-item a{ 
    text-decoration: none;
    color: var(--green);
}


/* Form  */
.contact-with-us-form{ 
    background-color: var(--nav-bar);
    backdrop-filter: blur(5px);
    width: 50%;
    border-radius: 10px;
    text-align: center;
}
.contact-with-us-form .form{ 
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}
.contact-with-us-form input{ 
    background-color: var(--contact-form-input);
      /* background: linear-gradient(90deg, var(--dark-blue), var(--contact-form-body)); */
    width: 90%;
    color: var(--whiteish);
    margin: 1rem 0rem;
    padding: 0.5rem;
    font-size: 25px;
    border: none;
    border-radius: 5px; 
}
.contact-with-us-form input:focus{ 
    outline: none;
}

.name{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem 1.5rem;  */
    text-align: left;
}

.first-name{ 
    margin-left: 1rem;
}
.hor-line{ 
    width: 100%;
    height: 1px;
    background-color: var(--whiteish);
    margin: 2rem 0rem;
    background-color: var(--lightgrey);
}
.form-items { 
   
   width: 100%;
   
}
.form-items label{ 
    margin: 0rem 2rem;
}

.form textarea{ 
    background-color: var(--contact-form-input);
    border: none;
    width: 88%; 
    color: var(--whiteish);
    resize: vertical;
    padding: 1rem;
    border-radius: 5px;
}
.form textarea:focus{ 
    outline: none;
}
.form-submit-button{ 
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0rem;
}
.form-submit-button button{ 
    margin-left: 1.7rem;
    cursor: pointer;
    border: none;
    width: 9rem; 
    height: 3rem;
    font-size: 18px;
    font-family: "Saira", sans-serif;
    font-weight: 600;
    background-color: var(--green);
    border-radius: 5px;
    position: relative;
    overflow: hidden; 
    z-index: 3;
}
.form-submit-button button::before{ 
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: var(--black);
    transition: all 0.4s ease;
    z-index: 1;
    color: white;
    /* transform: translate(-100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.form-submit-button button::after{ 
    content: 'Submit';
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: all 0.5s ease;
}

.form-submit-button button:hover{ 
    color: var(--white);
}

.form-submit-button button:hover::before{ 
    /* transform: translate(0); */
    width: 100%;
    
}