body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}
html{ 
  scroll-behavior: smooth;
}

:root{ 
  --black: #070707;
  --dark-blue: #0c0b11; 
  --orange: #f7af29; 
  --purple: #911791;
  --blue: #092687;  
  --whiteish: #c6c8d6;
  --green: #06D889;  
  --nav-bar: #1414144a; 
  --lightgrey: #666566; 
  --darkgrey: #1a1a1a;
  --darkgreen: #008600; 
  --darkpurple: rgb(109, 0, 109); 
}
::selection{ 
  color: var(--whiteish); 
  background: var(--darkgreen);
}
::-webkit-scrollbar{ 
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
