@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');

body {
  margin: 0;
  font-family: "Saira", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--dark-blue);
  width: 100vw;
  height: 100vh;
  color: white;
  overflow-x: hidden;
}
html{ 
  scroll-behavior: smooth;
}

:root{ 
  --black: #070707;
  --dark-blue: #0c0b11; 
  --orange: #f7af29; 
  --purple: #911791;
  --blue: #092687;  
  --whiteish: #efeff4;
  --green: #06D889;  
  --nav-bar: #1414144a; 
  --main-nav-bar: #40404092; 
  --lightgrey: #666566; 
  --darkgrey: #1a1a1a;
  --darkgreen: #008600; 
  --darkpurple: rgb(109, 0, 109); 
  --contact-form-body: #161a1e; 
  --contact-form-input: #252e2f; 
  --cursor-color: #06D889; 
}
::selection{ 
  color: var(--black); 
  background: var(--green);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


::-webkit-scrollbar {
  width: 8px;
}



/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--green); 
  border-radius: 3px;
}

